Xft.dpi:       108
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
URxvt.internalBorder:  40
URxvt*scrollBar:                  false
URxvt.font:                       xft:Source Code Pro:size=10, xft:TerminessTTFNerdFontMono:size=12
