Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
URxvt.internalBorder:  40
URxvt*scrollBar:                  false
URxvt.font:                       9x15,xft:TerminessTTFNerdFontMono
