Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
URxvt.internalBorder:  40
URxvt*scrollBar:                  false
URxvt.font:                       xft:bitstream vera sans mono:size=9:antialias=true,xft:TerminessTTFNerdFontMono,xft:symbola:size=10:minspace=False

